@charset "UTF-8";
	.dotum {font-family: dotum;}
	.gulim {font-family: gulim;}
	.고딕 {font-family: 고딕;}
	.고딕체 {font-family: 고딕체;}
	.궁서 {font-family: 궁서;}
	.궁서체 {font-family: 궁서체;}
	.times {font-family: times;}
	.courier {font-family: courier;}
	.arial {font-family: arial;}
	.serif {font-family: serif;}
	.sans-serif {font-family: sans-serif;}
	.cursive {font-family: cursive;}
	.fantasy {font-family: fantasy;}
	.monospace {font-family: monospace;}
	